/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FDF5E6;
}

.container {
    text-align: center;
    background: #ffe4e1; /* 라운드 스퀘어 색상 */
    padding: 30px 50px;
    border-radius: 15px; /* 라운드 스퀘어 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column; /* 행에서 열로 변경 */
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

button, .register-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #998887; /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 15px; /* 라운드 스퀘어 버튼 */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .register-link:hover {
    background-color: #FDF5E6;
    color: #403837;
